{% extends 'blog/blog_base.html' %}
{% load bootstrap %}
{% block content %}

<div class="container">
  <div class="d-flex justify-content-lg-center mt-3">
    <form class="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.media}}
      {{ form|bootstrap }}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      <input type="submit" name="" value="Submit">

    </form>
  </div>

</div>

{% endblock %}